.card-holder{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card {
    flex: 1 1 auto;
    background: #fff;
    box-shadow: var(--shadow);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
}
